.header {
    background-color: #040706;
    color: #ff8000
}
.content {
    background-color: blue;
}
.footer {
    background-color: yellow;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#header-text {
    font-size: 75px;
    font-family: Garamond;
    background: linear-gradient(to right, #fe9204, #f8d150);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
}